header {
  border-radius: 0 0 20px 20px;
  background: var(--background-color);
  overflow: hidden;
}
.top-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background: black;
}
.container.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.customer-support {
  order: 1;
  flex-grow: 1;
  text-align: right;
}
.logo {
    letter-spacing: -1px;
    display: flex;
    
}

.logo::before {
    content: "AGRO";
    color: rgb(204, 20, 20);
    cursor: pointer;
}
.container-logo {
  order: 2;
  flex-grow: 1;
  text-align: left;
}
.content-column {
  order: 3;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  margin-bottom: 5px;
}
.number {
  font-weight: bold;
}
.container-navbar {
  margin-top: 1rem;
}
.navbar {
  text-align: center;
}
.menu {
list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;  
}
.links {
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.links:hover{
    color: blue;
    background: white;
    width: 100%;
    transition: all 0.3s ease;
}
