@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap');
@import url('footer.css');
@import url('headerMobile.css');
@import url('../nonMobile/aside.css');
@import url('../nonMobile/vars.css');
@import url('../nonMobile/home.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:var(--primary-font);
}
